:root {
    --primary-blue: #285185;
    --secondary-blue: #92c2e4;
    --third-blue: #4882cf;
    --brown: #D67940;
    --main: #F6F4F9; 
}
.title {
    display: flex;
    background-color: var(--secondary-blue);
    justify-content: center;
    text-align: center;
}

h1 {
    color: var(--main);
}

.form-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
}

#qr-code-data {
    background-color: var(--third-blue);
    height: 30px;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    width: 75%;
    border-color: #92c2e4;
}


#dropdown {
    background-color: #285185;
    color: var(--main);
    width: fit-content;
    padding: 4px;
    border-radius: 20px;
}

#submit {
    width: 100px;
    background-color: var(--brown);
    columns: var(--main);
    font-size: medium;
}