:root {
    --primary-blue: #4882cf;
    --secondary-blue: #92c2e4;
    --third-blue: #4882cf;
    --brown: #D67940;
    --main: #F6F4F9; 
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}


.title {
    background-color: var(--primary-blue);
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}



.title h1 {
    color: var(--main);
}

.form-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 50vw;
    padding: 35px;
    box-shadow: 3px 3px 3px #0000003d;
}

#qr-code-data {
    height: 30px;
    font-size: 20px;
    border-radius: 20px;
    width: 75%;
    border: 1px solid black;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 15px;
}



#submit {
    margin-top: 10px;
    height: 35px;
    width: 150px;
    background-color: var(--third-blue);
    columns: var(--main);
    font-size: medium;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    
}



input, label, select {
    display: block;
    margin: 0 auto;
    text-align: center;
}


label {
    font: bold;
    font-size: large;
    font-weight: bold;
}



.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }


  .range {
    display: flex;
  }

#large-label {
    margin-right: 18%;
}

#small-label {
    margin-left: 18%;
}

#empty-form-div {
    display: none;
    width:  300px;
    height: 200px;
    border: black solid 2px;
    border-radius: 10px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

#empty-form-div, h2, button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#empty-form-btn {
    background-color: #9a42c2;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 14%;
    margin-top: 10px;
}


#toggle {
    display: none;
}